.page {
    width: 100%;
    min-height: 100vh;
    background: #FBF0E4;
    // background-color: white;
    // background-color: #F6EFC5;
}

.back-to-top {
    position: fixed;
    width: 50px;
    height: 50px;
    top: 50px;

    transform: translateY(-120%);
    opacity: 0;
    pointer-events: none;

    z-index: 100;
    transition: transform 0.28s ease, opacity 0.28s ease;
    
    // border: 1px solid black;
}

.back-to-top.is-visible {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}

.back-to-top__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
}

.back-to-top__icon {
    display: block;
    width: 30px; 
    background-color: white;
    padding: 15px;
}

.filters {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
}

.filters__inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 20px 20px 20px;
    gap: 20px;
    width: 100%;
    box-sizing: border-box;

}

.filter {
    display: flex;
    align-items: center;

    background: none;
    border: none;
    cursor: pointer;

    font-family: Graphit;
    font-size: clamp(16px, 1.5vw, 20px);
    font-weight: 200;
    // background: #FBF0E4;
    padding: 10px 20px 10px 20px;
    border-top: 1px solid black;
    z-index: 10;
    
    // box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    
}

.filter__icon {
    width: 20px;
    margin-right: 5px;
    height: auto;
}








