.header {
    width: 100%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 20;
    // border: 1px solid black;
}

.header__inner {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  width: 100%;
}

.header__left {
    display: flex;
    flex-direction: column;
    justify-self: start;
    width: auto;
    margin-left: 20px;
    margin-top: 0px;
    padding-bottom: 50px;
    // border: 1px solid black;
}

.header__title {
    margin: 0;
    font-size: 60px;
    // font-size: clamp(16px, 1.5vw, 20px);
    font-weight: 200;
    color: black;
}

.header__subtitle {
    margin: 0;
    margin-top: -20px;
    font-size: 60px;
    // font-size: clamp(16px, 1.5vw, 20px);
    font-weight: 600;
    color: black;
}

.header__animation {
    margin: 0;
    margin-top: -20px;
    font-size: 60px;
    font-weight: 200;
    color: black;
}

.header.is-hidden {
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
}

.header__right {
    justify-self: end;
    display: flex;
    align-items: center;
    // border: 1px solid black;
}

.header__link {
    border: none;
    font-family: Graphit;
    width: auto;
    padding: 20px 40px 20px 40px;
    margin-right: 20px;
    font-size: 40px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 50px;
    cursor: pointer;
}

.header__link:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
