.page {
    width: 100%;
    min-height: 100vh;
    background: #FBF0E4;
}

.back-to-top {
    position: fixed;
    width: 50px;
    height: 50px;
    top: 50px;

    transform: translateY(-120%);
    opacity: 0;
    pointer-events: none;

    z-index: 100;
    transition: transform 0.28s ease, opacity 0.28s ease;
    // border: 1px solid black;
}

.back-to-top.is-visible {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}

.back-to-top__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
}

.back-to-top__icon {
    display: block;
    width: 30px; 
}

.filters {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.filters__inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    padding: 0 100px;
    box-sizing: border-box;
}

.filter {
    display: flex;
    align-items: center;
    gap: 10px;

    background: none;
    border: none;
    cursor: pointer;

    font-family: Graphit;
    font-size: clamp(16px, 1.5vw, 20px);
    font-weight: 200;
}

.filter__icon {
    width: 20px;
    height: auto;
}








